<a href="https://colab.research.google.com/github/PabitraKundu/Book-Recommend/blob/master/Book_Recommender_Updated.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

In [ ]:
books = pd.read_csv('/content/drive/MyDrive/bookrecommend/Books.csv')
users = pd.read_csv('/content/drive/MyDrive/bookrecommend/Users.csv')
ratings = pd.read_csv('/content/drive/MyDrive/bookrecommend/Ratings.csv')

<ipython-input-3-bc0d142624a4>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('/content/drive/MyDrive/bookrecommend/Books.csv')

In [ ]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [ ]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [ ]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [ ]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [ ]:
print(books.shape)
print(users.shape)
print(ratings.shape)

(271360, 8)
(278858, 3)
(1149780, 3)

In [ ]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [ ]:
books = books.dropna(subset = ['Book-Author','Publisher','Image-URL-L'])

In [ ]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-S            0
Image-URL-M            0
Image-URL-L            0
dtype: int64

In [ ]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [ ]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [ ]:
ratings.duplicated().sum()

0

In [ ]:
books.duplicated().sum()

0

In [ ]:
users.duplicated().sum()

0

# Popularity Based Recommendation System

show top 20 books which has got  average highest rating

In [ ]:
ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [ ]:
#merge ratings and books on "ISBN" column
ratings_with_book_names =  ratings.merge(books , on = 'ISBN')

In [ ]:
ratings_with_book_names

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1031124,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...
1031125,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...
1031126,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...
1031127,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...
1031128,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...

In [ ]:
no_of_ratings_df = ratings_with_book_names.groupby('Book-Title').count()['Book-Rating'].reset_index()
no_of_ratings_df.rename(columns = {'Book-Rating':'num_of_ratings'},inplace = True)
no_of_ratings_df

                                               Book-Title  num_of_ratings
0        A Light in the Storm: The Civil War Diary of ...               4
1                                   Always Have Popsicles               1
2                    Apple Magic (The Collector's series)               1
3        Ask Lily (Young Women of Faith: Lily Series, ...               1
4        Beyond IBM: Leadership Marketing and Finance ...               1
...                                                   ...             ...
241061                                      Ã?Â?lpiraten.               2
241062                     Ã?Â?rger mit Produkt X. Roman.               4
241063                                Ã?Â?sterlich leben.               1
241064                              Ã?Â?stlich der Berge.               3
241065                                  Ã?Â?thique en toc               2

[241066 rows x 2 columns]

In [ ]:
average_rating_df = ratings_with_book_names.groupby('Book-Title').mean()['Book-Rating'].reset_index()
average_rating_df.rename(columns = {'Book-Rating':'average_rating'},inplace = True)
average_rating_df

<ipython-input-21-c4644ba2b4e1>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_rating_df = ratings_with_book_names.groupby('Book-Title').mean()['Book-Rating'].reset_index()

                                               Book-Title  average_rating
0        A Light in the Storm: The Civil War Diary of ...        2.250000
1                                   Always Have Popsicles        0.000000
2                    Apple Magic (The Collector's series)        0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...        8.000000
4        Beyond IBM: Leadership Marketing and Finance ...        0.000000
...                                                   ...             ...
241061                                      Ã?Â?lpiraten.        0.000000
241062                     Ã?Â?rger mit Produkt X. Roman.        5.250000
241063                                Ã?Â?sterlich leben.        7.000000
241064                              Ã?Â?stlich der Berge.        2.666667
241065                                  Ã?Â?thique en toc        4.000000

[241066 rows x 2 columns]

In [ ]:
popularity_df = no_of_ratings_df.merge(average_rating_df,on = 'Book-Title')
popularity_df

,Book-Title,num_of_ratings,average_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241061,Ã?Â?lpiraten.,2,0.000000
241062,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241063,Ã?Â?sterlich leben.,1,7.000000
241064,Ã?Â?stlich der Berge.,3,2.666667
241065,Ã?Â?thique en toc,2,4.000000

In [ ]:
popularity_df = popularity_df[popularity_df['num_of_ratings']>=250].sort_values('average_rating',ascending = False).head(20)

In [ ]:
popularity_df

,Book-Title,num_of_ratings,average_rating
80432,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80420,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80439,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80424,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80412,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
191608,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117
187373,The Fellowship of the Ring (The Lord of the Ri...,368,4.948370
80443,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
211380,"The Two Towers (The Lord of the Rings, Part 2)",260,4.880769
219737,To Kill a Mockingbird,510,4.700000
183569,The Da Vinci Code,898,4.642539
187876,The Five People You Meet in Heaven,430,4.551163
180553,The Catcher in the Rye,449,4.545657
196322,The Lovely Bones: A Novel,1295,4.468726
764,1984,284,4.454225
144162,Prodigal Summer: A Novel,253,4.450593
128668,Neverwhere,265,4.449057
206498,The Secret Life of Bees,774,4.447028
168716,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890
223131,"Tuesdays with Morrie: An Old Man, a Young Man,...",493,4.354970

In [ ]:
popularity_df = popularity_df.merge(books , on= 'Book-Title').drop_duplicates('Book-Title')

In [ ]:
popularity_df = popularity_df.merge(books , on= 'Book-Title').drop_duplicates('Book-Title')[['Book-Title' , 'Book-Author' , 'Image-URL-M' , 'num_of_ratings' , 'average_rating']]

KeyError: ignored

In [ ]:
popularity_df['Image-URL-M'][0]

In [ ]:
popularity_df

## Collaborative filtering based recommender system

In [ ]:
x = ratings_with_book_names.groupby('User-ID').count()['Book-Rating'] > 200

users_who_give_ratings = x[x].index

In [ ]:
ratings_with_book_names

In [ ]:
flt_rating = ratings_with_book_names[ratings_with_book_names['User-ID'].isin(users_who_give_ratings)]

In [ ]:
y = flt_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_book = y[y].index

In [ ]:
fnl_ratings = flt_rating[flt_rating['Book-Title'].isin(famous_book)]

In [ ]:
fnl_ratings.drop_duplicates()

In [ ]:
pvt = fnl_ratings.pivot_table(index='Book-Title', columns = 'User-ID', values = 'Book-Rating')

In [ ]:
pvt.fillna(0,inplace = True)

In [ ]:
pvt

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity_score = cosine_similarity(pvt)

In [ ]:
similarity_score[0]

In [ ]:
similarity_score.shape

In [ ]:
def recommender(book_name):
    #index fetch
    index = np.where(pvt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_score[index])),key=lambda x:x[1],reverse = True
      )[1:5]
    #distances = similarity_scores[index]
    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pvt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))

        data.append(item)

    return data

In [ ]:
recommender('1984')

In [ ]:
pvt.index[545]

In [ ]:
import pickle
pickle.dump(popularity_df,open('popular.pkl' , 'wb'))

In [ ]:
pickle.dump(pvt,open('pt.pkl','wb'))
pickle.dump(books,open('books.pkl','wb'))
pickle.dump(similarity_score,open('similarity_scores.pkl','wb'))

In [ ]:
b = popularity_df['average_rating']

# Creating histogram
plt.figure(figsize = (10,5))
#fig, ax = plt.subplots(figsize =(20, 7))
plt.hist(b, bins = [3.5 , 4.0, 4.5, 5.0, 5.5, 6.0,6.5] , edgecolor='black')
plt.xlabel('average_rating')
plt.ylabel('Number of books')

# Show plot
plt.show()

In [ ]:
a = popularity_df['num_of_ratings']

# Creating histogram
plt.figure(figsize = (10,5))
#fig, ax = plt.subplots(figsize =(20, 7))
plt.hist(a, bins = [-250 , 0, 250, 500, 750, 1000,1250,1500,1750] , edgecolor='black')
plt.xlabel('num_of_ratings')
plt.ylabel('Number of books')

# Show plot
plt.show()